<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product barcodes</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/barcodes.css">
</head>
<body>
    <a href="/login">Login</a> 
    <h1>Scan barcode</h1>
    <img src="../static/images/Apple iPhone XR.svg" alt="iphone">
    <img src="../static/images/OPPO F11.svg" alt="oppo">
    <img src="../static/images/Panasonic Eluga I8.svg" alt="panasonic">
    <img src="../static/images/Samsung Galaxy M30s.svg" alt="Samsung">
    
</body>
</html>