<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product ID Login</title>
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles/barcodes.css">
</head>
<body>
    <form class="login" method="POST">
        <input type="text" placeholder="Enter product ID" name="product_id""><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>